<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>listado de bandas</h1>
    <ul>
    <% for (let i=0; i<lista.length; i++) { %>
        <li> <a href="/bandas/id/<%=lista[i].id %>"><%=lista[i].nombre %></a> </li>
        <%}%>
    </ul>


</body>
</html>